<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div class="exercise-desc">
		<p>Fie A<span class="mini-letter">i</span>(x<span class="mini-letter">i</span>, y<span class="mini-letter">i</span>) ∈ R<span class="mini-letter up">2</span> si i ∈ {1, 2, 3, 4}, distincte doua cate doua. Determinati daca segmentele [A<span class="mini-letter">1</span>A<span class="mini-letter">2</span>] si [A<span class="mini-letter">3</span>A<span class="mini-letter">4</span>] se intersecteaza</p>
		<p>Utilizati panoul de mai jos pentru a declara coordonatele punctelor.</p>
	</div>

	<div class="exercise-box">
		<p>A1 : </p> 
			<input type="text" id="A1.x" value="0" />
			<input type="text" id="A1.y" value="0" />
		<p>A2 : </p>
			<input type="text" id="A2.x" value="0" />
			<input type="text" id="A2.y" value="0" />
		<p>A3 : </p>
			<input type="text" id="A3.x" value="0" />
			<input type="text" id="A3.y" value="0" />
		<p>A4 : </p>
			<input type="text" id="A4.x" value="0" />
			<input type="text" id="A4.y" value="0" />

		<p><span id="intersectie"></span></p>
	</div>


</body>
</html>