<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div class="exercise-desc">
		<p>Fie patrulaterul format din A<span class="mini-letter">1</span>, A<span class="mini-letter">2</span>, A<span class="mini-letter">3</span>, A<span class="mini-letter">4</span>. Sa se determine daca patrulaterul este convex. Dat fiind un punct M, aflati daca acesta este in acoperirea convexa a {A<span class="mini-letter">1</span>, A<span class="mini-letter">2</span>, A<span class="mini-letter">3</span>, A<span class="mini-letter">4</span>}</p>
		<p>Utilizati panoul de mai jos pentru a declara coordonatele punctelor.</p>
	</div>

	<div class="exercise-box">
		<p>A1 : </p> 
			<input type="text" id="A1.x" value="0" />
			<input type="text" id="A1.y" value="0" />
		<p>A2 : </p>
			<input type="text" id="A2.x" value="0" />
			<input type="text" id="A2.y" value="0" />
		<p>A3 : </p>
			<input type="text" id="A3.x" value="0" />
			<input type="text" id="A3.y" value="0" />
		<p>A4 : </p>
			<input type="text" id="A4.x" value="0" />
			<input type="text" id="A4.y" value="0" />
		<p>M : </p>
			<input type="text" id="M.x" value="0" />
			<input type="text" id="M.y" value="0" />

		<p><span id="ex1convex"></span></p>
		<p><span id="ex1acoperire"></span></p>
	</div>


</body>
</html>