<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div class="exercise-desc">
		<p>Date fiind trei puncte A<span class="mini-letter">1</span>, A<span class="mini-letter">2</span> si A<span class="mini-letter">3</span> cu trei coordonate, aflati daca sunt coliniare si afisati unul din ele in functie de celelalte doua.</p>
		<p>Utilizati panoul de mai jos pentru a declara coordonatele punctelor.</p>
	</div>

	<div class="exercise-box">
		<p>A1 : </p> 
			<input type="text" id="A1.x" value="0" onkeypress='return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 0'/>
			<input type="text" id="A1.y" value="0" onkeypress='return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 0' />
			<input type="text" id="A1.z" value="0" onkeypress='return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 0' />
		<p>A2 : </p>
			<input type="text" id="A2.x" value="0" onkeypress='return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 0' />
			<input type="text" id="A2.y" value="0" onkeypress='return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 0' />
			<input type="text" id="A2.z" value="0" onkeypress='return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 0' />
		<p>A3 : </p>
			<input type="text" id="A3.x" value="0" onkeypress='return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 0' />
			<input type="text" id="A3.y" value="0" onkeypress='return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 0' />
			<input type="text" id="A3.z" value="0" onkeypress='return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 0' />
		<p>Lambda = <span id="ex1Lambda"></span></p>
		<p>Result: <span id="ex1Result"></span></p>
	</div>

	

	
</body>
</html>